/*

	YOUTUBE INSPIRED DESIGN
	Author: spaceshiptrooper
	Copyright: 2017 Youtube Inspired Design
	File Last Updated: 7/24/2017 at 12:03 A.M.

*/

/*
	GENERIC
*/
.noscript {
	background-color: #FCFCFC;
	border-bottom: 1px solid #CCCCCC;
}